.container {
  text-align: center;
  font-family: "Bebas Neue", cursive, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffccdc;
}

.envelope {
  background: #ff6f91;
  color: white;
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.envelope.open {
  opacity: 0;
  transition: opacity 1s;
}

.message {
  font-size: 24px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.final-question h2 {
  font-size: 28px;
  color: #d63384;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.yes-btn {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.no-btn {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.congrats-message {
  margin-top: 20px;
  text-align: center;
  animation: fadeIn 3s;
  color: #ff1493;
  font-family: "Cedarville Cursive";
}

.congrats-heading {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #ff69b4;
  font-family: "Bebas Neue";
}

.congrats-text {
  font-size: 24px;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
